.episodePage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

img {
  width: 100%;
}

.backButton {
  margin-bottom: 30px;
  font-size: 18px;
}

.episodeError { 
  text-align: center;
  font-size: 22px;
  margin-top: 30px
}